.is-style-subtitle,
.is-style-subtitle a {
	font-weight: 400;
	font-size: var(--wp--preset--font-size--large);
    font-family: var(--wp--preset--font-family--libre-franklin);
}

.is-style-italic,
.has-style-italic {
	font-style: italic;
}

.is-style-book-meta,
.is-style-post-meta {
	font-size: var(--wp--preset--font-size--small);

	&.wp-block-group {
		display: flex;
		flex-direction: column;
		// align-items: flex-end;
	}
	
	& p {
		margin-top: 0;

		&:empty {
			display: none;
		}

		&:not( .label-hidden ) {
			&::before {
				content: attr(aria-label) ": ";
				color: var(--wp--preset--color--contrast);
				font-weight: 700;
			}
		}
	}
}

.is-style-mobile-center {
	margin-right: auto;
	margin-left: auto;
}

.is-style-text-emphasis {
	a {
		text-decoration: underline;
		text-decoration-thickness: 2px;
		text-decoration-color: currentColor;

		&:hover,
		&:focus {
			text-decoration-color: var( --wp--preset--color--contrast );
		}
	}
}

.has-text-align-left {
	text-align: left !important;
}

.has-text-bold {
	font-weight: 700;
}

.has-text-underline {
	text-decoration: underline;

	a {
		text-decoration: underline;
	}
}

.block-visibility-hide-large-screen {
	max-width: 400px;
	width: 100%;
}

.wp-block-site-title {
	&:where(a) {
		color: currentColor;
	}

	a {
		&:hover,
		&:focus {
			color: currentColor;
		}
	}
}

.wp-block-quote {
	cite {
		text-align: right;
		font-size: var(--wp--preset--font-size--x-small);

		&::before {
			content: '\2014\00a0';
		}
	}
}

main:has( .book-hero ) {
	margin-top: 0 !important;
}

.category-essays-articles article {
	column-gap: .5rem;
}

.wp-singular .wp-block-post-featured-image {
	max-width: 100%;
}

.post-list,
.book-hero {
	.wp-block-post-featured-image {
		max-width: 360px;
		margin-right: auto;
		margin-left: auto;
	}
}

:where( h1.wp-block-post-title, h1.wp-block-query-title ) {
	border-bottom: 5px solid var( --wp--preset--color--accent-1 );
	padding-bottom: .5em;
	// text-decoration: underline;
	// text-underline-offset: .5em;
	// text-decoration-thickness: 5px;
	// text-decoration-color: var( --wp--preset--color--accent-1 ) !important; 
	margin-bottom: 1em !important;
}

.book-list {
	.wp-block-post {
		&:last-child {
			.wp-block-columns {
				border-bottom: none !important;
			}
		}
	}

	.wp-block-quote {
		font-size: var(--wp--preset--font-size--small);

		margin-right: 1em;
		margin-left: 1em;
	}
}

.body-content {
	.wp-block-site-functionality-buy-buttons {
		display: none;
	}
}

.essays-articles,
.search.post-list {
	article {
		display: block;

		* {
			display: inline;
			
			&:empty {
				display: none;
			}
		}

		p:not( .separator, .publication ) {
			&::before {
				content: '- ';
				padding-right: .25rem;
			}
		}

		a {
			display: inline;
		}
	}
}

.wp-block-post-excerpt:has( .wp-block-post-excerpt__excerpt:empty ) {
	display: none;
	margin-top: 0;
}

.wp-block-query-pagination {
	&-numbers {
		display: flex;
		column-gap: .5rem;

		.page-numbers:not( .dots ) {
			color: var( --wp--preset--color--base );
			display: flex;
			justify-content: center;
			align-items: center;
			height: 2rem;
			width: 2rem;
			background-color: var(--wp--preset--color--accent-1);
			border-radius: 50%;

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--contrast);
			}

			&.current {
				background-color: var(--wp--preset--color--contrast);
			}
		}

		.dots {
			background-color: transparent;
			color: var(--wp--preset--color--accent-1);
		}

	}

	&-next,
	&-previous {
		text-transform: uppercase;
		color: var(--wp--preset--color--accent-1);
		font-size: var( --wp--preset--font-size--small );

		&:hover,
		&:focus {
			color: var(--wp--preset--color--contrast);
		}
	}
}