//What is the problem here?

.is-style-subtitle,
.is-style-subtitle a {
	font-weight: 400;
	font-size: var(--wp--preset--font-size--large);
    font-family: var(--wp--preset--font-family--libre-franklin);
}

.is-style-italic,
.has-style-italic {
	font-style: italic;
}

.has-text-align-left {
	text-align: left !important;
}

.block-visibility-hide-large-screen {
	max-width: 400px;
	width: 100%;
}

main:has( .book-hero ) {
	margin-top: 0 !important;
}

.category-essays-articles article {
	column-gap: .5rem;
}

.post-list .wp-block-post-featured-image {
	max-width: 360px;
	margin-right: auto;
	margin-left: auto;
}